.jumbotron {
  background-color: tomato;
}
.jumbotron h1 {
  color: blue;
}
.codeheading {
  background-color: tomato
}
.codetitle {
  color: blue
}
.profilephoto {
  float: right;
  width: 300px;
  padding-right: 2px;
  padding-left: 12px;
}
.metextbox {
  margin-left: 12px;
}
.aboutsubtext {
  padding-left: 15px;
  font-style: italic;
}
